body {
    font-size: 1.25rem;
    font-family: 'VT323', monospace;
    background-color: black;
    color: white;
    margin: auto;
  }

  #main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }


  /* Media query for screens smaller than 768px (typical mobile devices) */
  @media (max-width: 767px) {
    #main {
      width: 100%; /* Full width on mobile */
    }
  }
  
  /* Media query for screens larger than 768px (typical desktop devices) */
  @media (min-width: 768px) {
    #main {
      width: 25%; /* Adjust the width to your preference */
      max-width: 400px; /* Set a max-width if needed */
      margin: 0 auto; /* Center horizontally */
    }
  }

  .color-square {
    width: 50px;
    height: 50px;
    border-radius: 5%;
    border: 1px solid #333;
    display: inline-block;
  }

  #container {
    display: grid;
  }